<html>
{% extends 'webElPaso/base.html' %}
<head> 

</head>

<body>
        {% block body %}   
        <div class="container">
<div class="embed-responsive embed-responsive-16by9">
<iframe src="https://www.youtube.com/embed/hLmBVN877nI?autoplay=1" allowfullscreen></iframe>
</div>


<h2>Misión</h2>
<p>Ser una empresa rentable que ofrezca a las familias palmareñas y sus alrededores, la mejor comida rápida con un sabor único, 
    ofreciendo un excelente servicio y generando un ambiente familiar para nuestros clientes y de armonía y desarrollo para 
    nuestros empleados.</p>
    <h2>Visión</h2>
    <p>
    Ser una empresa líder dentro de la industria de la comida rápida costarricense, con una sólida estructura organizacional que proporcione bienestar 
    a todo nuestro equipo de trabajo, clientes y proveedores. Consolidar el liderazgo de nuestra Empresa, sosteniendo un 
    crecimiento y mejora integral y continua y actuando responsablemente con nuestra sociedad.
    </p>
</div>
{% endblock %}    
    </body>
</html>


